html {
    font-size: 62.5%;
}

:root {
    --primary-color: #47D5F3cd;
}


.btn {
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    position: relative;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-game {
    padding: 20px 40px;
    background-color: #fff;
    border: none;
    outline: none;
    color: var(--primary-color);
    font-size: 4rem;
    cursor: pointer;
}

.start-game:hover {
    opacity: 0.7;
}


.container {
    overflow: hidden;
    background-color: #fff;
    padding: 60px 40px;
    gap: 70px;
    width: 60vw;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.wrapper {
    display: flex;
    width: 45%;
    height: 100%;
}

.drowned-man__box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-color: #fff #000 #000 #000;
}

.drowned-man__box::after {
    position: absolute;
    top: 105%;
    font-size: 2.3rem;
    font-weight: 600;
    content: 'Drowned man';
    text-transform: uppercase;
}

.box__pipe{
    position: absolute;
    bottom: 90%;
    right: 85%;
}

.box__pipe img {
    width: 200px
}

.water__in__pipe {
    position: absolute;
    display: block;
    background: #47D5F3aa;
    right: 17px;
    top: 169px;
    width: 12px;
    height: 0%;
    z-index: 2;
}

.box__container {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    width: 100%;
}

.box__container img {
    width: 100%;
    height: 100%;
}

.box__water{
    width: 100%;
    height: 80%;
    position: absolute;
    align-self: flex-end;
}

.water {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    height: 0;
    width: 100%;
    transition: 1s;
}



.word-display {

    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    gap: 10px;
    margin-bottom: 20px;
}

.word-display .letter{
    width: 28px;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}

.game__box {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game__box h4 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.game__box h4 b {
    font-weight: 600;
}

.game__box .guesses-text b {
    color: #ff0000;
}

.game__box .keyboard {
    margin-top: 40px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard button {
    width: calc(100% / 9 - 5px);
    padding: 7px 10px;
}

.keyboard button[disabled] {
    opacity: 0;
    pointer-events: none;
}

.btn:hover {
    opacity: 0.7;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.footer i, .footer p{
    font-size: 2rem;
}

/* Modal */

@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes boxGrown {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.game__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 0.4s ease;
    z-index: 9999;
}

.game__modal.show {
    display: flex;
}

.modal__overlay {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition: 1s;
    animation: fadeOut 0.3s linear;
}

.modal__content {
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-width: 420px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    animation: boxGrown 0.4s linear;
}

.modal__content img {
    max-width: 130px;
    object-fit: contain;
}

.modal__content h4 {
    font-size: 2.5rem;
    margin: 0;
}

.modal__content p {
    font-size: 2.6rem;
    margin: 15px 0 30px;
}

.modal__content p b {
    color: var(--primary-color);
    font-weight: 600;
}

.modal__content button {
    padding: 12px 30px;
}